*{
    margin: 0;
    padding: 0;
}

body{
     background-color: #eee; 
     font-family: 'Roboto', sans-serif;  
}

.cv{
    max-width:1000px; 
	background-color:#E4F9F5; 
    margin: 0 auto; 
    padding: 20px;
}

header{

}

.profile{
    width: 100px;
    height: 120px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;

}

.dio{
    float: left;
    padding: 30px;
}

h1,h2,h3,h4,h5,h6{
    color: #11999e;
}

.contact{
    float: right;
    padding: 30px;
}

.contact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;
}

.contact a:hover{
    text-decoration: underline;
    color: tomato;
}

.div-clear{
    clear: both;
}

hr{
    border: solid 3px;
    color: black;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}

#personal-section{

}

.content{
    margin-bottom: 30px;
}

.left-div{
    width:30%;
    float:left;
}

.right-div{
    width: 70%;
    float: right;
}

.common-hr{
    border: solid black 1px;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}

.instagram{
    float: left;
    width: 45%;
}

.facebook{
    float: left;
    width: 45%;
}

.last{
    background-color: black;
    text-align: center;
    padding: 10px;

}
.last a{
    color: white;
    text-decoration: none;
    margin: 20px;
}

.last p{
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

.last a:hover{
    color: lawngreen;
    text-decoration: underline;
}

#form{
    text-align: center;
}

tr, td:first-child{
	background: #B374AE; color: #2037BC;
}

table:hover{
	background-color: #1dfc00;
}